
.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  body {
    align-items: center;
    text-align: center;
    font-family: 'Comfortaa';
    background-color: rgb(30, 221, 180);
    margin: 0;
    cursor: default;
    padding-bottom: 100px;
  }
  
  nav {
    margin: auto;
    height: 30px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(91, 247, 203);
    color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
  }
  
  a {
    text-decoration: none;
    color: navy;
  }
  
  .project-a:hover {
    transition: 1s;
    color: yellow;
  }
  
  
  .context {
    margin: auto;
    align-self: center;
    background-color: rgb(41, 197, 153);
    border-radius: 50px;
    height: fit-content;
    width: 500px;
  }
  
  .title {
    font-family: Comfortaa;
    text-shadow: 0px 0px rgb(0, 255, 251);
  }
  
  .options {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0074D9;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .options:hover {
    transition: 1s;
    box-shadow: 0px 0px 5px navy;
    color: yellow;
  }
  
  .content-title {
    font-family: Lexend;
    font-weight: 400;
  }
  
  .content-text {
    color:navy;
  }
  
  .project {
    width: 200px;
    padding: 10px;
    color: navy;
    align-content: center;
  }
  
  .content-list {
    background-color: rgb(91, 247, 203);
    width: 500px;
    border-radius: 5px;
  }
  
  .content {
    align-items: center;
  }
  
  .project:hover {
    transition: 1s;
    color: yellow;
  }
  